body {
  font-family: 'Roboto', sans-serif;
}
.menu-item {
  display: inline-block;
}
.menu {
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu a {
  text-decoration: none;
  display: inline-block;
  padding: 20px 30px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
  background-color: rgb(213, 222, 230);
}
